@model Resunet.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Профиль";
}

<h1>@Resunet.Service.Localization.Languages["ru"].GetLabel("MyProfile"):</h1>
<div class="row">
    <div class="col-sm-8 mt-auto">
        <form action="/profile" method="post" class="form">
            <input type="hidden" name="ProfileId" value="@Model.ProfileId" />
            @Html.AntiForgeryToken()

            <div class="form-group">
                <select name="ProfileStatus" class="text">
                    @foreach (int psv in Enum.GetValues(typeof(ResunetDAL.Models.ProfileStatusEnum)))
                    {
                        if ((int)Model.ProfileStatus == psv)
                        {
                            <option value="@psv" selected="selected"> @Resunet.Service.Localization.Languages["ru"].GetLabel("ProfileStatusEnum" + @Enum.GetName(typeof(ResunetDAL.Models.ProfileStatusEnum), psv))</option>
                        }
                        else
                        {
                            <option value="@psv"> @Resunet.Service.Localization.Languages["ru"].GetLabel("ProfileStatusEnum" + @Enum.GetName(typeof(ResunetDAL.Models.ProfileStatusEnum), psv))</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Имя профиля</label>
                <input name="ProfileName" type="text" value="@Model.ProfileName" />
                <div class="error">@Html.ValidationMessageFor(m => m.ProfileName)</div>
            </div>

            <div class="form-group">
                <label>Имя</label>
                <input name="FirstName" type="text" value="@Model.FirstName" />
                <div class="error">@Html.ValidationMessageFor(m => m.FirstName)</div>
            </div>

            <div class="form-group">
                <label>Фамилия</label>
                <input name="LastName" type="text" value="@Model.LastName" />
                <div class="error">@Html.ValidationMessageFor(m => m.LastName)</div>
            </div><br />
            <button class="button">Сохранить</button>
        </form>
    </div>

    <div class="col-sm-4">
        <form action="/profile/uploadimage" method="post" enctype="multipart/form-data">
            <input type="hidden" name="ProfileId" value="@Model.ProfileId" />
            @Html.AntiForgeryToken()
            @if (!String.IsNullOrEmpty(Model.ProfileImage))
            {
                <img src="@Model.ProfileImage" class="profileimage" />
            }
            <p>
                <input type="file" name="file" />
            </p>
            <button class="button">Сохранить</button>
        </form>
    </div>
</div>
<br />

<h1>Я знаю:</h1>
<div class="row">
    <div class="col-sm-12">
        <component type="typeof(ResunetUI.Pages.ProfileSkillEditor)" render-mode="WebAssembly" />
    </div>
</div>
<script src="_framework/blazor.webassembly.js"></script>